<!-- post individual -->
<table class="table table-hover">
    <tr>

        <!-- foto de perfil ao lado do post-->
        <td width="40px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img class="img-circle" src="{{ post.author.avatar(40) }}" />
            </a>
        </td>

        <!-- data, autor e post -->
        <td>
            {% set user_link %}
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </span>
            {% endset %}
            {{ _('%(username)s escreveu %(when)s', username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>
            <span id="post{{ post.id }}">{{ post.body }}</span>
        </td>
    </tr>
</table>