{% extends "base.html" %}

<!-- title -->
{% block title %}
{% if title %}EDUCLASS · {{ title }}{% else %}{{ _('EDUCLASS') }}{% endif %}
{% endblock %}
<!-- / -->

<!-- head -->
{% block head %}
{{ super() }}
<style type="text/css">
    h1,
    h2 {
        text-align: center;
        align-content: center;
    }

    td,
    th {
        text-align: left;
    }
</style>
{% endblock %}
<!-- / -->

<!-- content -->
{% block content %}
{{super()}}
<div class="container">

    <!-- aluno e turma -->
    <h1>{{ _('%(username)s', username=current_user.username) }} <small>5º A</small></h1>

    <!-- tabela de horários da turma -->
    <p>
    <h2>Horário</h2>
    </p>
    <table class="table table-hover table-condensed table-responsive">
        <tr>
            <th>Disciplina</th>
            <th>Horário</th>
        </tr>
        <tr>
            <td>Química</td>
            <td>35C M</td>
        </tr>
        <tr>
            <td>Matemática</td>
            <td>246D M</td>
        </tr>
        <tr>
            <td>Literatura</td>
            <td>246A M</td>
        </tr>
        <tr>
            <td>Física</td>
            <td>246B M</td>
        </tr>
    </table>

    <!-- legenda dos horários -->
    <h3><small><strong>Observação:</strong> A 7h30, B 8h45, C 10h30, D 12h15</small></h3>

    <!-- tabela de professores da turma -->
    <p>
    <h2>Professores</h2>
    </p>
    <table class="table table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Professor</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.subject.name }}</td>
                <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
<!-- / -->