<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>EDUCLASS - Login</title>
    <link rel="stylesheet" href="default.css">
</head>

<body>
    <header>
        <h1>EDUCLASS</h1>
        <h2>Projeto Integrador Transdisciplinar 2</h2>
    </header>

    <main>
        <form method="post" enctype="application/x-www-form-urlencoded" action="/login.cgi">
            <p><label for="instituicoes">Instituição
                    <select id="instituicoes" name="instituicao">
                        <option value="" selected disabled hidden>Selecionar</option>
                        <option value="UECE">UECE</option>
                        <option value="UFC">UFC</option>
                        <option value="UNICID">UNICID</option>
                    </select>
                </label></p>
            <p><label>nome de usuário<br> <input type="email" placeholder="Seu nome de usuário" name="email"
                        required></label></p>
            <p><label>senha<br> <input type="password" placeholder="Sua senha" name="password" required></label></p>
            <p><button type="submit">Entrar</button></p>
        </form>

        <nav>
            <ul>
                <li><a href="./esqueceu-a-senha">Esqueceu a senha?</a></li>
                <li><a href="./termos-e-privacidade">Termos e privacidade</a></li>
                <li><a href="./suporte">Suporte</a></li>
            </ul>
        </nav>

    </main>

    <footer>EDUCLASS 2022 (C) Humberto Marques, Jessica Patricio</footer>

</body>

</html>