{% extends "base.html" %}

{% block app_content %}
<h1>Suporte</h1>
<h3>Entre em contato:</h3><br>
<ul>
    <li style="list-style-type: none;"><p><span class="glyphicon glyphicon-earphone"></span> +55 11 1234-5678</p></li>
    <li style="list-style-type: none;"><p><span class="glyphicon glyphicon-envelope"></span> suporte@educlass.com.br</p></li>
    <li style="list-style-type: none;"><p><span class="glyphicon glyphicon-pencil"></span> Rua 123, 456 · Sala 789 · São Paulo, SP · CEP 12345-78</p></li>
</ul><br>   
<p>Atendimento das 8h às 22h.</p>
{% endblock %}