{% extends "base.html" %}

{% block app_content %}

<h1>Termos e Privacidade<br>
<small><mark>EDUCLASS é uma empresa fictícia, criada para a disciplina de PIT-CC2 2022.2.</mark></small></h1>

<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
<p class="text-justify"> Pellentesque tortor ipsum, blandit vel
    pharetra commodo,semper vitae mauris. Nam sagittis ligula eu mollis condimentum. Donec hendrerit hendrerit ante vel
    interdum. Quisque
    ipsum elit, aliquet in dignissim a, feugiat nec ipsum. Nam sed sapien eu tortor commodo porttitor eu eget nisl.
    Vestibulum eget finibus diam, egestas fermentum nisl. Nulla venenatis eleifend pulvinar. Nullam sit amet lobortis
    massa. Aliquam interdum libero sed augue tristique placerat. Fusce gravida nisl in lorem ultrices, ut malesuada
    neque ornare. Suspendisse et dui vel lorem sollicitudin scelerisque ac vel odio. Quisque non ante hendrerit risus
    posuere varius.</p>

<h3>Vestibulum ut augue at dolor volutpat consectetur ut non ex.</h2>
<p class="text-justify"> Nullam vitae ultricies ex, blandit
    convallis diam.
    Quisque arcu lacus, dapibus sit amet interdum ac, gravida at orci. Curabitur pharetra velit ac commodo hendrerit.
    Cras a egestas dolor. Pellentesque dignissim bibendum metus sed semper. Proin turpis felis, cursus in nisl in,
    facilisis commodo risus. Praesent lobortis nisl ipsum, nec scelerisque odio elementum et. Ut posuere urna et turpis
    blandit lacinia vel eget sapien. Morbi dolor turpis, euismod eget ullamcorper ullamcorper, aliquet id diam. Morbi
    porta hendrerit lacus. Ut pellentesque est sagittis enim elementum lacinia. Sed in mattis ligula, et ullamcorper
    purus. Sed interdum ac dolor ac dapibus. Sed purus turpis, pellentesque sed est quis, rutrum luctus lectus.</p>

<h3>Morbi pellentesque accumsan enim, vel tempor sapien efficitur ut.</h3>
<p class="text-justify"> Praesent ut nisl vitae justo
    fringilla tincidunt.
    Nullam ut augue eu lectus bibendum cursus. Donec dolor urna, lobortis id ultricies et, suscipit ut turpis.
    Vestibulum consectetur magna et quam lacinia, nec convallis tellus vulputate. Fusce et efficitur felis, eget
    scelerisque diam. Quisque ultrices tristique lectus id eleifend. Nam a diam felis.</p>

<h3>Quisque lacinia luctus mi ut efficitur.</h3>
<p class="text-justify">Quisque lacinia luctus mi ut efficitur. Phasellus nec metus rutrum, molestie ipsum eget,
    interdum odio. Mauris
    pulvinar posuere nunc, vel laoreet dui iaculis non. Pellentesque hendrerit, elit sed venenatis tempor, eros elit
    pellentesque arcu, in ullamcorper diam diam eu neque. Sed consequat lectus sit amet sapien tincidunt, nec elementum
    nulla venenatis. Proin non pretium augue. Integer facilisis nisl et fringilla dapibus. Duis vel dui risus.</p>

<p class="text-justify">Vivamus pulvinar porttitor mauris nec tempor. Proin sit amet augue a tellus sodales eleifend.
    Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc fringilla, dolor sit amet aliquet
    congue, nisl purus consequat mi, sit amet egestas lacus nisi a urna. Fusce at neque mollis, pretium dolor eget,
    tempus turpis. Cras interdum tellus id pretium tempor. Aenean eu elit vulputate, vestibulum mi scelerisque, luctus
    ante. Aliquam efficitur lectus mi, a blandit lectus suscipit ut. Aenean dui eros, egestas vitae dolor sit amet,
    rhoncus volutpat ligula. Vivamus dapibus sed sapien non luctus. Nullam congue laoreet bibendum. Donec tempus nisi at
    venenatis congue. Etiam quis lacus ac urna commodo aliquam.</p>

<p class="text-justify">Integer nisl est, vehicula a ex non, congue imperdiet nibh. Quisque luctus massa consequat
    fermentum malesuada. Nunc
    feugiat dictum libero ut vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam in diam eu
    quam egestas pulvinar. Vestibulum rhoncus turpis tortor, et molestie turpis ultricies vitae. Ut id elit vehicula,
    molestie lacus vitae, posuere risus. Maecenas blandit, nunc vitae bibendum dapibus, augue est mollis quam, efficitur
    molestie nisi ipsum et diam. Quisque viverra tempor dolor, eu faucibus lacus imperdiet vel. Proin non diam ac lacus
    viverra viverra eget in mi. Nam et sem elementum, tempor mauris at, cursus ante.</p>

<h3>Suspendisse tortor lorem, vehicula ac convallis eget, posuere quis quam.</h3>
<p class="text-justify"> Cras tempor, turpis
    laoreet varius posuere,
    tellus quam tincidunt dui, et ullamcorper dui ante non metus. Quisque euismod in magna non sagittis. Nullam nec
    lectus luctus turpis bibendum tristique. Duis pellentesque nunc vitae neque rhoncus pretium. Maecenas accumsan eget
    risus et congue. Vestibulum quis auctor nulla. Nunc sed fermentum neque. Suspendisse commodo malesuada dui ac
    ultricies. Vestibulum non lorem eu ex iaculis consequat vitae in metus. Morbi pellentesque lacus nec dui ullamcorper
    dapibus. Duis ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque velit,
    dignissim in mollis euismod, efficitur eget mi.</p>

<p class="text-justify">Praesent massa quam, placerat eget orci sollicitudin, sollicitudin malesuada tortor. Donec
    pretium venenatis nunc,
    dignissim scelerisque quam pellentesque quis. Phasellus aliquet orci vitae magna malesuada scelerisque. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Quisque dignissim lectus mollis, ultricies tellus at, placerat augue.
    Pellentesque consectetur metus et ligula iaculis aliquet. Vestibulum lectus nisi, volutpat nec quam ac, venenatis
    condimentum diam. Vivamus a quam in eros ultricies tincidunt. Donec id metus sit amet metus lacinia euismod. Fusce
    placerat blandit est, feugiat sollicitudin erat imperdiet sit amet.</p>

<p class="text-justify">Morbi nec est vel elit interdum tincidunt sed ut justo. Cras mattis nisi in ullamcorper
    ullamcorper. Donec
    vestibulum, mauris id varius vulputate, ipsum turpis commodo tortor, et euismod turpis lacus in eros. Quisque
    suscipit sed nulla vitae laoreet. Nulla vel libero in quam ullamcorper molestie viverra a odio. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Nulla malesuada metus et dui malesuada congue. In pellentesque et
    turpis ac rhoncus. Morbi luctus imperdiet eleifend. Proin pharetra ornare purus ac pharetra. Morbi purus risus,
    cursus in mauris at, tincidunt aliquet quam. Sed sit amet tristique mauris. Suspendisse pulvinar finibus fermentum.
    Nullam finibus pretium neque, ut tempor orci aliquam eu. Donec maximus tortor ipsum, ultrices tristique nisi dapibus
    in. Vivamus ex urna, porttitor et nibh et, finibus consectetur velit.</p>

<h3>Nunc pretium elit posuere risus viverra ornare.</h3>
<p class="text-justify"> Nullam porttitor consequat ante, rutrum
    convallis nisl rutrum vitae.
    Aliquam erat volutpat. Curabitur sed leo posuere, tempus tellus nec, pellentesque sapien. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam molestie, justo at pulvinar consequat,
    ipsum magna dapibus magna, vitae molestie purus neque eu tellus. Nunc pretium blandit vehicula.</p>

<p class="text-justify">Cras aliquam non dui id rhoncus. Sed eget interdum diam. Curabitur libero turpis, iaculis eu
    ornare sed, blandit at
    lacus. Morbi metus purus, commodo at massa eget, semper rhoncus lectus. Vivamus et tincidunt est. Nulla dictum, eros
    a pretium viverra, nulla erat vestibulum mi, eu facilisis justo dolor non quam. Nullam in justo feugiat, volutpat
    dolor quis, gravida leo. Duis auctor feugiat dolor et cursus. Nulla sit amet orci imperdiet, feugiat lacus sit amet,
    pretium neque. Sed lacus nisl, accumsan vulputate mauris a, vehicula consequat mi. Sed eu libero quis odio consequat
    venenatis quis aliquet dolor. Praesent gravida congue massa, venenatis ultricies libero tristique vitae. Phasellus
    viverra nisl sed sem pretium, sed vehicula tortor molestie. Donec tempus molestie lacus, a cursus lorem fringilla
    id. Aenean maximus dui eu justo eleifend, eget condimentum augue tincidunt.</p>

<p class="text-justify">Mauris vestibulum ante nec libero iaculis, id finibus elit dignissim. Suspendisse imperdiet
    ligula est, non consequat
    mi tincidunt rhoncus. Sed non felis ligula. Nam placerat urna ut finibus auctor. Pellentesque luctus vulputate orci,
    nec lacinia nisi fringilla eget. Vestibulum suscipit nisi eget nisi maximus, fringilla mattis leo rutrum. Aliquam
    tortor purus, aliquet aliquam tellus in, aliquet tincidunt risus. Pellentesque mattis condimentum lorem laoreet
    pellentesque. Quisque ante tellus, commodo in ante eu, gravida vestibulum sem. Curabitur posuere dolor sed ultrices
    rhoncus. Donec ornare lectus sapien, sagittis pulvinar risus porttitor id. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Quisque non ex posuere neque lobortis mattis.</p>

<h3>Maecenas nisl est, congue non leo ut, elementum auctor urna.</h3>
<p class="text-justify"> Nullam ac velit vulputate arcu
    rhoncus aliquet. Cras
    commodo purus sed eros dapibus dignissim. In eu ante in magna cursus malesuada quis in orci. Pellentesque commodo
    lorem ligula, vitae fringilla elit feugiat ut. Vestibulum vitae condimentum enim, feugiat tempor nulla. In dictum,
    urna et ultrices consectetur, nisl nulla iaculis dui, quis laoreet nisl massa vestibulum tortor. Nulla efficitur,
    purus nec dapibus tincidunt, risus purus consectetur enim, at imperdiet dui augue a ante. Ut nec eros vitae massa
    pharetra varius. Pellentesque maximus dui sit amet ipsum volutpat dictum.</p>

<p class="text-justify">In fermentum lorem non erat sagittis, non luctus lorem efficitur. Cras tristique fermentum mi
    sit amet mattis. Morbi
    felis erat, molestie non lacus sed, lobortis ullamcorper velit. Sed sodales lectus vitae augue suscipit efficitur.
    Nam consequat nulla a magna pharetra iaculis. Nullam sollicitudin venenatis sollicitudin. Praesent consectetur nisi
    et sagittis aliquam. Fusce ornare nulla ac ex euismod lacinia. Nulla purus velit, feugiat in blandit ac,
    pellentesque a sapien. Nullam sodales ultrices odio sed aliquet. In ultricies gravida dolor, quis dictum erat
    sodales vel. Sed ut mattis neque. Aliquam blandit, turpis sit amet ultrices fringilla, felis erat luctus neque, ut
    tincidunt turpis diam at diam.</p>

<p class="text-justify">Aenean iaculis fringilla accumsan. Fusce in rutrum libero, at mollis ligula. Pellentesque nec
    orci in risus tempor
    mollis. In ac mi turpis. Praesent enim augue, molestie dictum tellus in, bibendum molestie magna. Fusce felis
    tellus, pharetra et mauris eget, molestie elementum orci. Suspendisse quis eros quis massa pulvinar condimentum
    vitae nec risus. Donec in augue at dolor porttitor elementum sed eu nisi. Cras varius rhoncus nunc vitae dictum.</p>

<p class="text-justify">Nunc vel quam in lectus aliquet sollicitudin. Integer bibendum diam tempus, scelerisque turpis
    id, venenatis mauris.
    Fusce et ante quis lorem congue maximus. Morbi aliquam purus fermentum iaculis porta. Phasellus vel metus tortor.
    Aliquam erat volutpat. Etiam at dapibus lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Vestibulum gravida aliquam suscipit.</p>

<p class="text-justify">Donec elementum, est ac tristique fringilla, sapien ex posuere ex, vitae lobortis mi lectus a
    ex. Aliquam non aliquet
    nulla. Maecenas tempus, purus ac rhoncus laoreet, ligula sapien lacinia est, eu elementum est erat at ligula.
    Praesent sem mi, venenatis a tortor a, dictum dictum lacus. Nunc vulputate purus eu gravida elementum. Aliquam non
    aliquam dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Suspendisse
    eleifend quam ut mi pretium, semper vehicula risus scelerisque. Proin pellentesque eleifend accumsan. Pellentesque
    suscipit nec augue venenatis mattis. Donec laoreet nisl nunc. Quisque ac dolor nec ipsum convallis vulputate. Mauris
    ac aliquet nulla, a tristique dui. Praesent vestibulum cursus cursus. Nullam eget ultrices justo.</p>

<p class="text-justify">Integer volutpat elit ornare consequat eleifend. Morbi blandit sagittis tortor id tincidunt.
    Quisque eget dui
    bibendum, mattis libero a, rhoncus arcu. Phasellus iaculis porttitor ultricies. Mauris malesuada scelerisque leo,
    nec dignissim orci consectetur nec. Donec condimentum in urna blandit interdum. Aenean nec ligula facilisis orci
    ultricies consequat a at ex. Aenean bibendum enim quis libero tempus, vitae rutrum tortor viverra. Sed sit amet
    eleifend dolor. Aliquam gravida magna ac mauris porta venenatis. Suspendisse et nulla ex.</p>

<p class="text-justify">In in pharetra elit. In nec cursus neque, et condimentum purus. Ut nec nisl scelerisque,
    pharetra urna in, commodo
    urna. Cras tristique est eu pulvinar laoreet. Etiam diam felis, consequat non justo tempor, auctor hendrerit massa.
    Duis finibus sollicitudin lacinia. Vivamus egestas justo nec eros ultricies, placerat porttitor diam volutpat.
    Mauris efficitur tristique lobortis. In porttitor sagittis turpis sit amet egestas. Donec ut erat eget lectus ornare
    scelerisque. Nam bibendum auctor nulla a aliquet. Sed porta est quis vehicula sagittis. Nulla facilisi. Curabitur
    pharetra mattis dui et commodo.</p>

<p class="text-justify">Etiam congue dolor at tincidunt viverra. Nulla facilisi. Quisque gravida rutrum vestibulum.
    Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vehicula risus id ornare eleifend.
    Suspendisse potenti. Mauris fermentum fermentum metus. Curabitur auctor, mauris at ultricies faucibus, nulla felis
    pretium nisl, sit amet varius urna ex nec orci. Quisque id sem bibendum, ultricies velit sed, viverra nibh. Proin
    fringilla lacus quis nisi pretium, eu semper nisi lobortis.</p>

{% endblock %}